[BUG] opendmarc rejects mails that should be passed (SPF)

### Miscellaneous first checks

- [X] I checked that all ports are open and not blocked by my ISP / hosting provider.
- [X] I know that SSL errors are likely the result of a wrong setup on the user side and not caused by DMS itself. I'm confident my setup is correct.

### Affected Component(s)

opendmarc, policyd-spf

### What happened and when does this occur?

```Markdown
When using certain local parts (discovered when servers using SRS tried to send us mails), the combination of policyd-spf and opendmarc rejects mails that should have passed DMARC checks.

e.g. a mail from `abcdefg+123456-1234-h.i.j=k@external.tld` cannot be received with docker-mailserver when external.tld has DMARC (_dmarc.external.tld) enabled.
```


### What did you expect to happen?

```Markdown
The email should be accepted by docker-mailserver.
```


### How do we replicate the issue?

```Markdown
1. send an email from `abcdefg+123456-1234-h.i.j=k@external.tld` with a dmarc enabled domain to docker-mailserver
```


### DMS version

11.3.1

### What operating system is DMS running on?

Linux

### Which operating system version?

Ubuntu 22.04 LTS (local dev), Debian 10 (prod)

### What instruction set architecture is DMS running on?

AMD64 / x86_64

### What container orchestration tool are you using?

Docker Compose

### docker-compose.yml

```yml
version: "2.4"
services:
  mail:
    image: "${CI_REGISTRY_IMAGE}:${IMAGE_VERSION}"
    build:
      dockerfile: Dockerfile
      context: .
      args:
        CI_JOB_TOKEN: "${CI_JOB_TOKEN}"
    hostname: "mail"
    domainname: "redacted.domain.tld"
    container_name: "mail"
    ports:
      # allow receiving emails for configured addresses from the world
      - "25:25"
      # attention only bind munin-node to internal ip addresses (allows connections from everywhere)
      - "redacted_ipv4:4950:4949"
      # bind sending email ports only to internal ip addresses
      - "redacted_ipv4:465:465" # SSL Client email submission
      - "redacted_ipv4:587:587" # TLS Client email submission
    volumes:
      - maildata:/var/mail
      - mailstate:/var/mail-state
      - maillogs:/var/log/mail
      - filebeat:/var/lib/filebeat
      - ./config/:/tmp/docker-mailserver/
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    environment:
      - ENABLE_SPAMASSASSIN=0
      - ENABLE_CLAMAV=0
      - ENABLE_FAIL2BAN=1
      - ENABLE_POSTGREY=0
      - ONE_DIR=1
      - DMS_DEBUG=0
      - LOG_LEVEL=info
      - HOSTNAME=redacted.domain.tld
      - SSL_TYPE=self-signed
      # forward log files to graylog
      - ENABLE_ELK_FORWARDER=1
      - ELK_HOST=other_redacted_ipv4
      - ELK_PORT=5044

volumes:
  maildata:
    driver: local
  mailstate:
    driver: local
  maillogs:
    driver: local
  filebeat:
    driver: local
```


### Relevant log output

log output with devel dns to show dns requests for _dmarc and SPF (TXT)
```
mail_1        | Feb  9 10:13:05 redacted-hostname postfix/postscreen[1321]: CONNECT from [172.16.20.68]:60190 to [172.16.20.67]:25
mail_1        | Feb  9 10:13:11 redacted-hostname postfix/postscreen[1321]: PASS NEW [172.16.20.68]:60190
docker_dns_1  | 09-Feb-2023 10:13:11.447 queries: info: client @0x7f820fe3b000 172.16.20.67#32785 (68.20.16.172.in-addr.arpa): query: 68.20.16.172.in-addr.arpa IN PTR +E(0) (172.16.20.66)
docker_dns_1  | 09-Feb-2023 10:13:11.447 queries: info: client @0x7f820e68c000 172.16.20.67#36177 (client.external.tld): query: client.external.tld IN A +E(0) (172.16.20.66)
mail_1        | Feb  9 10:13:11 redacted-hostname postfix/smtpd[1343]: connect from client.external.tld[172.16.20.68]
docker_dns_1  | 09-Feb-2023 10:13:11.467 queries: info: client @0x7f820ee6c000 172.16.20.67#34497 (external.tld): query: external.tld IN MX + (172.16.20.66)
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Starting
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "request=smtpd_access_policy"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "protocol_state=RCPT"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "protocol_name=ESMTP"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "client_address=172.16.20.68"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "client_name=client.external.tld"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "client_port=60190"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "reverse_client_name=client.external.tld"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "server_address=172.16.20.67"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "server_port=25"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "helo_name=client.external.tld"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "sender=abcdefg+123456-1234-h.i.j=k@external.tld"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "recipient=test@testing.com"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "recipient_count=0"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "queue_id="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "instance=53f.63e4c737.7363a.0"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "size=0"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "etrn_domain="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "stress="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "sasl_method="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "sasl_username="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "sasl_sender="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "ccert_subject="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "ccert_issuer="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "ccert_fingerprint="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "ccert_pubkey_fingerprint="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "encryption_protocol="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "encryption_cipher="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "encryption_keysize=0"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: "policy_context="
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Read line: ""
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Found the end of entry
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Config: {'debugLevel': 5, 'HELO_reject': 'Fail', 'Mail_From_reject': 'Fail', 'PermError_reject': 'False', 'TempError_Defer': 'False', 'skip_addresses': '127.0.0.0/8,::ffff:127.0.0.0/104,::1', 'TestOnly': 1, 'SPF_Enhanced_Status_Codes': 'Yes', 'Header_Type': 'SPF', 'Hide_Receiver': 'Yes', 'Authserv_Id': 'redacted-hostname', 'Lookup_Time': 20, 'Whitelist_Lookup_Time': 10, 'Void_Limit': 2, 'Reason_Message': 'Message {rejectdefer} due to: {spf}.', 'No_Mail': False, 'Mock': False, 'Socket': 'local:/run/pyspf-milter/pyspf-milter.sock', 'PidFile': '/run/pyspf-milter/pyspf-milter.pid', 'UserID': 'pyspf-milter', 'UMask': 7, 'InternalHosts': '127.0.0.1', 'IntHosts': False, 'MacroListVerify': ''}
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Cached data for this instance: []
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: skip_addresses enabled.
docker_dns_1  | 09-Feb-2023 10:13:11.503 queries: info: client @0x7f820d86e000 172.16.20.67#46621 (client.external.tld): query: client.external.tld IN TXT +E(0) (172.16.20.66)
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: _get_resultcodes: scope: helo, Reject_Not_Pass_Domains: None, helo_policy: Fail, mfrom_policy: Fail
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Scope helo unused results: ['Pass', 'None', 'Neutral', 'Softfail', 'Temperror', 'Permerror']
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: helo policy true results: actions: {'defer': [], 'reject': ['Fail'], 'prepend': ['Pass', 'None', 'Neutral', 'Softfail', 'Temperror', 'Permerror']} local {'local_helo': False, 'local_mfrom': False}
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: spfcheck: pyspf result: "['None', '', 'helo']"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: None; identity=helo; client-ip=172.16.20.68; helo=client.external.tld; envelope-from=abcdefg+123456-1234-h.i.j=k@external.tld; receiver=<UNKNOWN> 
docker_dns_1  | 09-Feb-2023 10:13:11.503 queries: info: client @0x7f820e26c000 172.16.20.67#45867 (external.tld): query: external.tld IN TXT +E(0) (172.16.20.66)
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: _get_resultcodes: scope: mfrom, Reject_Not_Pass_Domains: None, helo_policy: Fail, mfrom_policy: Fail
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Scope mfrom unused results: ['Pass', 'None', 'Neutral', 'Softfail', 'Temperror', 'Permerror']
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: mfrom policy true results: actions: {'defer': [], 'reject': ['Fail'], 'prepend': ['Pass', 'None', 'Neutral', 'Softfail', 'Temperror', 'Permerror']} local {'local_helo': False, 'local_mfrom': False}
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: spfcheck: pyspf result: "['Pass', 'sender SPF authorized', 'mailfrom']"
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Pass; identity=mailfrom; client-ip=172.16.20.68; helo=client.external.tld; envelope-from=abcdefg+123456-1234-h.i.j=k@external.tld; receiver=<UNKNOWN> 
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: not peruser
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: Action: prepend: Text: Received-SPF: Pass (mailfrom) identity=mailfrom; client-ip=172.16.20.68; helo=client.external.tld; envelope-from=abcdefg+123456-1234-h.i.j=k@external.tld; receiver=<UNKNOWN>  Reject action: 550 5.7.23
mail_1        | Feb  9 10:13:11 redacted-hostname policyd-spf[1352]: prepend Received-SPF: Pass (mailfrom) identity=mailfrom; client-ip=172.16.20.68; helo=client.external.tld; envelope-from=abcdefg+123456-1234-h.i.j=k@external.tld; receiver=<UNKNOWN> 
mail_1        | Feb  9 10:13:11 redacted-hostname dovecot: auth: passwd-file(test@testing.com): unknown user 
mail_1        | Feb  9 10:13:11 redacted-hostname postfix/smtpd[1343]: 7E4E32D85919: client=client.external.tld[172.16.20.68]
mail_1        | Feb  9 10:13:11 redacted-hostname postfix/cleanup[1354]: 7E4E32D85919: message-id=<>
docker_dns_1  | 09-Feb-2023 10:13:11.559 queries: info: client @0x7f8248268000 172.16.20.67#55921 (_dmarc.external.tld): query: _dmarc.external.tld IN TXT +E(0)D (172.16.20.66)
mail_1        | Feb  9 10:13:11 redacted-hostname opendmarc[823]: 7E4E32D85919: external.tld fail
mail_1        | Feb  9 10:13:11 redacted-hostname postfix/cleanup[1354]: 7E4E32D85919: milter-reject: END-OF-MESSAGE from client.external.tld[172.16.20.68]: 5.7.1 rejected by DMARC policy for external.tld; from=<abcdefg+123456-1234-h.i.j=k@external.tld> to=<test@testing.com> proto=ESMTP helo=<client.external.tld>
mail_1        | Feb  9 10:13:11 redacted-hostname postfix/smtpd[1343]: disconnect from client.external.tld[172.16.20.68] ehlo=1 mail=1 rcpt=1 data=0/1 quit=1 commands=4/5
```


### Other relevant information

We found the following workaround:
user-patches.sh:
```
echo "SPFIgnoreResults true" >> /etc/opendmarc.conf
echo "SPFSelfValidate true" >> /etc/opendmarc.conf
```

it seems to happen since https://github.com/docker-mailserver/docker-mailserver/pull/2933 but it looks like this only made it appear and the underlying issue existed before.

not sure if the issue is related to the discussion in https://github.com/trusteddomainproject/OpenDMARC/issues/158

bind9 config during the test shown in the log output
```
; BIND reverse data file for external.tld
;
;
$TTL	86400
@	IN	SOA	ns1.external.tld. redacted\.redacted.redacted.domain.tld. (
			      4		; Serial, increment on changes
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			  86400 )	; Negative Cache TTL
;
;@	IN	NS	localhost.
; name servers - NS records
	IN	NS	ns1.external.tld.

ns1.external.tld.	IN	A	172.16.20.66

external.tld.	IN	MX	10 mail.external.tld.
mail.external.tld.	IN	A	172.16.20.67
client.external.tld.	IN	A	172.16.20.68

_dmarc.external.tld.	IN	CNAME	dmarcreject.external.tld.
dmarcreject.external.tld.	IN	TXT	"v=DMARC1;p=reject;pct=100;fo=1;rua=mailto:postmaster@external.tld;ruf=mailto:postmaster@external.tld"
external.tld.	IN	TXT	"v=spf1 ip4:172.16.0.0/12 ~all"
```

testing.com "acts" as our test mailserver domain (additional to redacted.domain.tld) and the following relevant accounts/emails where defined in tests:
```bash
./setup.sh email add "redacted@domain.tld" redactedtestpassword
./setup.sh alias add test@testing.com root@localhost
echo '/^postmaster@(subdomain\.)?domain\.tld$/     redacted@domain.tld'
```


### What level of experience do you have with Docker and mail servers?

- [ ] I am inexperienced with docker
- [X] I am rather experienced with docker
- [ ] I am inexperienced with mail servers
- [ ] I am rather experienced with mail servers
- [ ] I am uncomfortable with the CLI
- [X] I am rather comfortable with the CLI

### Code of conduct

- [X] I have read this project's [Code of Conduct](https://github.com/docker-mailserver/docker-mailserver/blob/master/CODE_OF_CONDUCT.md) and I agree
- [X] I have read the [README](https://github.com/docker-mailserver/docker-mailserver/blob/master/README.md) and the [documentation](https://docker-mailserver.github.io/docker-mailserver/edge/) and I searched the [issue tracker](https://github.com/docker-mailserver/docker-mailserver/issues?q=is%3Aissue) but could not find a solution

### Improvements to this form?

_No response_
Edit: make it clear in the form where inputs will be surronded with
````
```
input
```
````
Edit2: fixed the link to the OpenDMARC issue 

I noticed today, that I've also experience DMARC problems. 5 Mails were rejected due to dmarc failure. One was spam. The others legit. The first email that got rejected for me was on 31. January. I am still trying to find out, what could be the cause. Afaik there was only [one change](https://github.com/docker-mailserver/docker-mailserver/commit/555fbb78c46ead295e1a9a73d38720dc05159fe2) regarding opendmarc. However, that looks good to me.

I could reproduce my issue and fix it with: `postconf 'smtpd_milters = $dkim_milter $dmarc_milter'`

You can put the snippet above in [user-patches.sh](https://docker-mailserver.github.io/docker-mailserver/edge/config/advanced/override-defaults/user-patches/) and restart your container to see if that fixes your problem.

@casperklein yes i noticed this as well when debugging for our issue. (opendkim should come before opendmarc) however our problem is between policyd-spf and opendmarc as opendmarc ignores the header added by policyd-spf for some mails. i have not added integration tests for opendkim to our setups.

ideally both spf and dkim should work for dmarc to work.

when running our tests with your fix `postconf 'smtpd_milters = $dkim_milter $dmarc_milter'` in user-patches.sh (and removing our workaround) i get the following log, where opendkim now comes before opendmarc:
```
mail_1        | Feb 10 07:01:08 redacted-hostname policyd-spf[1357]: prepend Received-SPF: Pass (mailfrom) identity=mailfrom; client-ip=172.16.0.196; helo=client.external.tld; envelope-from=abcdefg+123456-1234-h.i.j=k@subdomain.external.tld; receiver=<UNKNOWN> 
mail_1        | Feb 10 07:01:08 redacted-hostname dovecot: auth: passwd-file(test@testing.com): unknown user 
mail_1        | Feb 10 07:01:08 redacted-hostname postfix/smtpd[1348]: CC1B72B4802F: client=client.external.tld[172.16.0.196]
mail_1        | Feb 10 07:01:08 redacted-hostname postfix/cleanup[1359]: CC1B72B4802F: message-id=<>
mail_1        | Feb 10 07:01:08 redacted-hostname opendkim[592]: CC1B72B4802F: client.external.tld [172.16.0.196] not internal
mail_1        | Feb 10 07:01:08 redacted-hostname opendkim[592]: CC1B72B4802F: not authenticated
mail_1        | Feb 10 07:01:08 redacted-hostname opendkim[592]: CC1B72B4802F: no signature data
docker_dns_1  | 10-Feb-2023 07:01:08.880 queries: info: client @0x7ff4e3a38000 172.16.0.195#47477 (_dmarc.subdomain.external.tld): query: _dmarc.subdomain.external.tld IN TXT +E(0)D (172.16.0.194)
mail_1        | Feb 10 07:01:08 redacted-hostname opendmarc[601]: CC1B72B4802F: subdomain.external.tld fail
mail_1        | Feb 10 07:01:08 redacted-hostname postfix/cleanup[1359]: CC1B72B4802F: milter-reject: END-OF-MESSAGE from client.external.tld[172.16.0.196]: 5.7.1 rejected by DMARC policy for subdomain.external.tld; from=<abcdefg+123456-1234-h.i.j=k@subdomain.external.tld> to=<test@testing.com> proto=ESMTP helo=<client.external.tld>
mail_1        | Feb 10 07:01:08 redacted-hostname postfix/smtpd[1348]: disconnect from client.external.tld[172.16.0.196] ehlo=1 mail=1 rcpt=1 data=0/1 quit=1 commands=4/5
```
so i think #3082 is a fix also needed for proper functioning DMARC checks, but it does not fix this issue.

I've got a question about:

```bash
echo "SPFIgnoreResults true" >> /etc/opendmarc.conf
echo "SPFSelfValidate true" >> /etc/opendmarc.conf
```

You said this is a _workaround_. Why is that - or could we use this?

It is a workarround, because it makes opendmarc ignore the results of policyd-spf and opendkim in all cases and perform the checks itself.

This solves the issue at the cost of having at most double (for DKIM + SPF in case DMARC is enabled) the DNS queries but fixes the dmarc result for emails like the above mentioned.

If a user has only opendmarc enabled this would indeed be a good setting, otherwise I'm not sure.

Also in my further investigations this week i noticed that policyd-spf rejects mails when the DMARC records have p=none/quarantine defined or DKIM would pass. So maybe we would need only opendmarc to perform checks according to DMARC (but then policyd-spf should be configurable to being able to be disabled).

I understand. One of the conclusions should be that PolicydSPF should be configurable. How to solve the other issue I don't know at the moment though..

Could you try using

```ini
ENABLE_RSPAMD=1
ENABLE_OPENDKIM=0
ENABLE_OPENDMARC=0
```

and see if this improves the situation?

Our default SPF is now configurable with [`ENABLE_POLICYD_SPF`](https://docker-mailserver.github.io/docker-mailserver/edge/config/environment/#enable_policyd_spf).

@georglauterbach i finally managed to test the settings suggested (using rspamd but not opendkim, opemdmarc, policyd)

It seems that rspamd does not perform any SPF checks as our reject test message with an ip not matching any spf allowed IPs (`v=spf1 ip4:127.0.0.1 ~all`) still passed when only using rspamd. As well as the quarantine test messages were not quarantined based on SPF. The test message for pass DKIM and failed SPF was accepted (which seems to be in alignment with [RFC 7489](https://www.rfc-editor.org/rfc/rfc7489#page-24) and was rejected with the settings before. The test mail with failed DKIM and no spf record was accepted as well, when it should have been blocked.

So yes it eliminates the false positives for this but also it would not block spam and attacks that are currently blocked on mismatched SPF entries.

Is that what you were expecting or do you need more information? Can we run rspamd (once it's fully supported) with opendkim, opendmarc and policyd or would that not be supported?

> @georglauterbach i finally managed to test the settings suggested (using rspamd but not opendkim, opemdmarc, policyd)

Thank's for reaching back to me!

> It seems that rspamd does not perform any SPF checks as our reject test message with an ip not matching any spf allowed IPs (`v=spf1 ip4:127.0.0.1 ~all`) still passed when only using rspamd.

Have you checked the network traffic to verify this? Because I actually doubt that Rspamd will not perform the lookup - on my system, it does and I'm not using a very fancy setup. Rspamd is caching lookups though, maybe this is why you think there are no queries?

> The test message for pass DKIM and failed SPF was accepted (which seems to be in alignment with [RFC 7489](https://www.rfc-editor.org/rfc/rfc7489#page-24) and was rejected with the settings before. The test mail with failed DKIM and no spf record was accepted as well, when it should have been blocked.

I should probably explain (in case you're not familier with Rspamd): Rspamd does not reject a message just because it fails DKIM or SPF per se. It calculates a score based on symbols a mail is tagged with, and looking at the [symbols for SPF, DKIM & DMARC](https://github.com/rspamd/rspamd/blob/master/conf/scores.d/policies_group.conf), you can see that adding failures for SPF, DKIM and DMARC will amount to 1 + 1 + 2 = 4, which is the score for greylist (see [Rspamd's actions](https://github.com/rspamd/rspamd/blob/master/conf/actions.conf)).

> As well as the quarantine test messages were not quarantined based on SPF.

What do you mean by "quarantined"? The symbols for SPF quarantining is `R_SPF_SOFTFAIL` IIRC, but it has a score of `0`, so it will not add to the score; for DMARC it is `DMARC_POLICY_QUARANTINE` which adds `1.5`.

> So yes it eliminates the false positives for this but also it would not block spam and attacks that are currently blocked on mismatched SPF entries.

If you really want to block on SPF mismatches, you can increase the value of the symbol `R_SPF_FAIL` to

1. `4` to greylist immediately
2. `6` to add the spam header immediately
3. `7` to rewrite the subject immediately
4. `15` to reject immediately

> Is that what you were expecting or do you need more information? Can we run rspamd (once it's fully supported) with opendkim, opendmarc and policyd or would that not be supported?

You can run all of them at the same time, but we discourage such a setup because you will likely double the DNS queries (unless you configure Rspamd to not make SPF, DKIM & DMARC queries, but then you might not use it at all). DMS will issue a warning on startup when using these at the same time.

I would recommend tuning Rspamd to your needs. Increasing the symbol value of Rspamd policies for example, if you are keen on rejecting messages by this metric. IMO I'd not reject messages just because of SPF mismatches, this is too course - even if it means not adhering 100% to an RFC. The idea is that getting one more spam mail is better than not receiving a legitimate mail. What's really important as well are queries to DNSBLS/RBLS, which accounts for the majority of score most of the time.

Rspamd offers fine-grained policies: greylisting, adding a spam header, rewriting the subject and finally, rejecting. You will likely want to utilize this. You can adjust the scores easily too (maybe by using [`rspamd-modules.conf`](https://docker-mailserver.github.io/docker-mailserver/edge/config/security/rspamd/#with-the-help-of-a-custom-file) and `set-option-for-module actions greylist 4` for example).

I also recommend using Rspamd's web interface (on port 11334 IIRC) to get a better understanding of what Rspamd did (looking at the history tab for example).

> Have you checked the network traffic to verify this?

Yes, I'm running a docker dns server (`docker_dns_1` in the logs above) to verify the queries made, and i could see the other queries made by Rspamd. To me it looks like Rspamd is not a drop in replacement for the other mechanisms as it needs to be configured correctly (and possibly extensively to adhere to the RFCs) even if it has all the modules for DMARC, DKIM and SPF.

> What do you mean by "quarantined"?

[RFC 7489 Section 6.3](https://www.rfc-editor.org/rfc/rfc7489#section-6.3)
>  quarantine:  The Domain Owner wishes to have email that fails the
         DMARC mechanism check be treated by Mail Receivers as
         suspicious.  Depending on the capabilities of the Mail
         Receiver, this can mean "place into spam folder", "scrutinize
         with additional intensity", and/or "flag as suspicious".

I guess that all means somewhere the current Rspamd configuration is not compatible with our current setup. If you are seeing DMARC and SPF queries in your logs of DMS and we are not. So i guess i just have to wait until the feature is ready and make the according changes in our setup and then test if Rspamd handles this correctly and doesn't suffer from the same issue.

> > Have you checked the network traffic to verify this?
> 
> Yes, I'm running a docker dns server (`docker_dns_1` in the logs above) to verify the queries made, and i could see the other queries made by Rspamd.

👍🏼

To me it looks like Rspamd is not a drop in replacement for the other mechanisms as it needs to be configured correctly (and possibly extensively to adhere to the RFCs) even if it has all the modules for DMARC, DKIM and SPF.

You are correct, it's not a drop-in. Most users of DMS are not too much interested in the actual RFCs though, so this is a first for me too.

> > What do you mean by "quarantined"?
> 
> [RFC 7489 Section 6.3](https://www.rfc-editor.org/rfc/rfc7489#section-6.3)
> 
> > quarantine:  The Domain Owner wishes to have email that fails the
> > DMARC mechanism check be treated by Mail Receivers as
> > suspicious.  Depending on the capabilities of the Mail
> > Receiver, this can mean "place into spam folder", "scrutinize
> > with additional intensity", and/or "flag as suspicious".
> 
> I guess that all means somewhere the current Rspamd configuration is not compatible with our current setup. If you are seeing DMARC and SPF queries in your logs of DMS and we are not. So i guess i just have to wait until the feature is ready and make the according changes in our setup and then test if Rspamd handles this correctly and doesn't suffer from the same issue.

I would be very interested in a RFC7489-compliant setup. Maybe we can both work towards this goal. I am still busy with stabilizing Rspamd on DMS, which should take roughle 3 or 4 more PRs, but the feature should be stable with v12.1.0, which is the next release (hopefully soon),

#3249 is on it's way to stabilizing v12.1.0. It is one of the two last PRs that are blocking for v12.1.0. When all of this is done, we can look into creating an RFC-compliant configuration.

Just FYI: v12.1.0 is out, and it stabilized Rspamd's integration.

The issue of having an RFC-compliant setup can now properly be worked on. I would prefer to have a dedicated issue for this though. On anoter note: I do not have time to assist anymore (because I'm writing a thesis now). If you have questions about this though, don't hesitate to ping me :)